.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.cycleDots {
  display: flex;
  gap: 0.7rem;
}

.cycleDot {
  display: block;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.workTime {
  background-color: var(--work-time);
}
.shortBreakTime {
  background-color: var(--short-break-time);
}
.longBreakTime {
  background-color: var(--long-break-time);
}
